.superContactUs{
    font-size:16px;
    margin: 0px;
    padding: 0px;
    border-left: 1.5px solid;
    width: 100%;
    min-height: 100vh;
    display: inline-block;
    vertical-align:top;
    margin-right: 15%;
    box-shadow: 0 0 20px #000;
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 50%;

}

.contactUs{
    font-size:16px;
    margin: 0px;
    padding: 0px;
    border-left: 1.5px solid;
    width: 60%;
    height:60%;
    margin-left:5%;
    display: inline-block;
    vertical-align:top;
    margin-right: 15%;
    margin-top:7%;
    box-shadow: 0 0 20px #000;
    position: absolute;
    overflow-y: scroll;
    overflow-x:hidden;
    background:whitesmoke;
}

.contactUs::-webkit-scrollbar{width: 0 !important }

