@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.tabinator {
  background: #fff;
  padding: 40px;
  font-family: Open Sans;
}
.tabinator h2 {
  text-align: center;
  margin-bottom: 20px;
}
.tabinator input {
  display: none;
}
.tabinator label {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 25px;
  color: #ccc;
  margin-bottom: -1px;
  margin-left: -1px;
}
.tabinator label:before {
  content:'';
  display:block;
  width:100%;
  height:15px;
  background-color:#fff;
  position:absolute;
  bottom:-11px;
  left:0;
  z-index:10;  
}
.tabinator label:hover {
  color: #888;
  cursor: pointer;
}
.tabinator input:checked + label {
  position: relative;
  color: #000;
  background: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  border-radius: 5px 5px 0 0;
}
.tabinator input:checked + label:after {
  display: block;
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  /* box-shadow: 0 0 15px #939393;*/
} 
#content1, #content2, #content3, #content4 {
  display: none;
  border-top: 1px solid #bbb;
  padding: 15px;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
  /* box-shadow: 0 0 15px #939393; */
}